/* .form {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
} */
/* input {
  max-width: 518px;
  width: 100%;
  display: block;
  margin: 0 auto;
} */
